//Here you can customize bootstrap
$primary: #663399;
@import "~bootstrap/scss/bootstrap";

body {
    background-image: url(../images/parchment-scaled.jpg);
}

.navBarStyle {
    background-color: #AF6B2B;
}

/* Navigation.css */

.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .main-menu > li {
    position: relative;
    margin-right: 20px;
  }
  
  .main-menu > li > a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    display: block;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FEEDC0;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
  }
  
  .main-menu > li:hover .submenu {
    display: block;
  }
  
  .submenu li a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .submenu li a:hover {
    background-color: #eab965;
  }

  .max-width-400 {
    max-width: 420px;
    flex-basis: auto;
  }

  .my-flex-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    max-width: 860px;
    margin: auto;
  }